<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- used to store credentials -->
  <!-- Used to specify which one of the sources are active -->
  <!-- Used to disable package sources  -->
  <!-- 
  Used to specify default API key associated with sources. 
  See: NuGet.exe help setApiKey
  See: NuGet.exe help push
  See: NuGet.exe help mirror
  -->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="myget-op" value="https://www.myget.org/F/op/api/v2" />
    <add key="myget-docfx" value="https://www.myget.org/F/docfx/api/v2" />
    <add key="myget-op-dev-v3" value="https://www.myget.org/F/op-dev/api/v3/index.json" />
    <add key="myget-docfx-dev" value="https://www.myget.org/F/docfx-dev/api/v2" />
  </packageSources>
</configuration>