<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DocAsCode.Common" version="2.42.0" targetFramework="net462" />
  <package id="Microsoft.DocAsCode.DataContracts.Common" version="2.42.0" targetFramework="net462" />
  <package id="Microsoft.DocAsCode.Plugins" version="2.42.0" targetFramework="net462" />
  <package id="Microsoft.DocAsCode.YamlSerialization" version="2.42.0" targetFramework="net462" />
  <package id="Microsoft.OpenPublishing.FileAbstractLayer" version="1.78.0-alpha-20190722105635-g318672c" targetFramework="net472" />
  <package id="Microsoft.OpenPublishing.LogCodeService.Common" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.OpenPublishing.LogCodeService.DataContracts" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.OpenPublishing.LogCodeService.Manager" version="1.0.3" targetFramework="net462" />
  <package id="Minimatch" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="YamlDotNet.Signed" version="4.2.2" targetFramework="net461" />
</packages>