<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.OpenPublishing.FileAbstractLayer" version="1.44.0-alpha-934-g1365943" targetFramework="net461" />
  <package id="Minimatch" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="YamlDotNet.Signed" version="4.1.0" targetFramework="net46" />
</packages>